<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptops - HP</title>
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>HP Laptops</h1>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt veritatis totam nisi facilis mollitia
                vero, quibusdam debitis dolore vel maxime! Quo error alias quam perferendis at, porro excepturi
                perspiciatis debitis.</p>
        </div>
    </div>
</body>
</html>